<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Warn" internalLogToConsole="true" internalLogToConsoleError="true">

  <variable name="logDirectory" value="/log/" />

  <targets>

    <!-- stdout -->
    <target xsi:type="Console" name="stdout">
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="">
        <attribute name="time" layout="${longdate}" />
        <attribute name="lvl" layout="${level:upperCase=true}"/>
        <attribute name="msg" layout="${message}" />
        <attribute name="from" layout="${logger}" />
      </layout>
    </target>

    <!-- stderr -->
    <target xsi:type="Console" error="True" name="stderr">
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="">
        <attribute name="time" layout="${longdate}" />
        <attribute name="lvl" layout="${level:upperCase=true}"/>
        <attribute name="msg" layout="${message}" />
        <attribute name="from" layout="${logger}" />
        <attribute name="err" layout="${exception:format=message,@,data,tostring:maxInnerExceptionLevel=30}" />
      </layout>
    </target>

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" writeTo="blackhole" final="true"/>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Error" writeTo="stderr" final="true"/>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="stdout" />
    <logger name="*" minlevel="Error" writeTo="stderr" />
  </rules>
</nlog>