<nav class="navbar">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/wallet">{{ "HEADER.Menu.NewWallet" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/master-node">{{ "HEADER.Menu.MasterNode" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/scanner">{{ "HEADER.Menu.Scanner" | translate }}</a>
    </li>
  </ul>
</nav>
