<!-- host: .page -->
<div class="progress-linear progress-linear--tiny" *ngIf="!isDataLoaded">
  <div class="container"></div>
</div>

<section class="page__section container">

  <div class="row" *ngIf="!invalidContractAddress">
    <div class="col-12 col-lg-6 p-0 pr-lg-3" *ngIf="isDataLoaded">

      <div class="token-logo-container">
        <div class="token-logo">
          <img [src]="tokenInfo.logoUrl" alt="token-logo" width="">
        </div>
        <div class="token-logo-name">{{ tokenInfo.ticker }}</div>
      </div>

      <div class="total-info-block">
        <div><b>{{ "PAGES.Trade.Labels.ExpDate" | translate }}</b>
          <span *ngIf="tillExpiration">{{ expirationTime?.expiration * 1000 | date:'d.M.yyyy' }} ({{ tillExpiration | date:'d.M.yyyy H:mm:ss' }})</span>
        </div>
        <div><b>{{ "PAGES.Trade.Labels.EthContract" | translate }}</b> {{ +totalData.totalEth | noexp }} ETH</div>
        <div><b>{{ "PAGES.Trade.Labels.TokensContract" | translate }}</b> {{ +totalData.totalTokens | noexp }} MNTP</div>
        <div><b>{{ "PAGES.Trade.Labels.TotalSupply" | translate }}</b> {{ tokenSupply | number }}</div>
      </div>

      <div class="text-justify">
        <div class="mb-1"><b>{{ "PAGES.Trade.Labels.Description" | translate }}</b></div>
        {{ tokenInfo.description }}
      </div>
    </div>

    <div class="col-12 col-lg-6 p-0 pl-lg-3" *ngIf="isDataLoaded">
      <div class="row">
        <div class="col-12">
          <app-promo-bonus></app-promo-bonus>
        </div>

        <div class="col-12">
          <div class="action-info-block" [ngClass]="locale">
            <div class="mb-2">{{ "PAGES.Trade.Labels.Tokens" | translate }} <b>{{ +tokenBalance | noexp }} MNTP</b></div>
            <div class="text-right">
              <button class="btn btn-sm btn-primary w-100" type="button" (click)="openBuySellModal()">
                <svg  width="25" height="25">
                  <use xlink:href="#etherama-icon"></use>
                </svg>
                {{ "PAGES.Trade.Buttons.BuySell" | translate }}
              </button>
            </div>
          </div>

          <div class="action-info-block" [ngClass]="locale">
            <div class="mb-2 pointer" [popover]="myBonusPopUp" triggers="mouseenter:mouseleave">{{ "PAGES.Trade.Labels.Bonus" | translate }} <b>{{ +userReward | noexp:18 }} ETH</b></div>
            <div class="text-right">
              <button class="btn btn-sm btn-primary w-100" type="button" (click)="withdraw()" [disabled]="!ethAddress || !+userReward">
                <svg  width="30" height="25">
                  <use xlink:href="#withdraw"></use>
                </svg>
                {{ "PAGES.Trade.Buttons.Withdraw" | translate }}
              </button>
            </div>
          </div>

          <div class="action-info-block" [ngClass]="locale">
            <div class="overflow-hidden">
              <div class="overflow-ellipsis nowrap mb-2" [title]="uniqueMasternodeLink" *ngIf="isUserRefAvailable">
                {{ "PAGES.Trade.Labels.RefLink" | translate }}
                <input type="text" class="input-copy" value="{{ uniqueMasternodeLink }}" #secondAddress readonly>
                <span class="pointer" popover='{{ "PAGES.Trade.Labels.ClickToCopy" | translate }}' triggers="mouseenter:mouseleave" placement="left" (click)="onCopyData(secondAddress)">
                  <b>{{ uniqueMasternodeLink }}</b>
                </span>
              </div>

              <div class="pr-2" *ngIf="uniqueMasternodeLink && !isUserRefAvailable">
                <span [innerHTML]="'PAGES.Trade.Labels.GettingRef' | translate:{token: minRefTokenAmount}"></span>
              </div>
            </div>

            <div class="text-right">
              <a [href]="etherscanContractUrl + tokenInfo.etheramaContractAddress" target="_blank">
                <button class="btn btn-sm btn-primary w-100" type="button">
                  <svg  width="23" height="23">
                    <use xlink:href="#link-out"></use>
                  </svg>
                  {{ "PAGES.Trade.Buttons.View" | translate }}
                </button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="isDataLoaded">
      <app-statistic-charts></app-statistic-charts>
    </div>

  </div>

  <div class="trade-invalid-address" *ngIf="invalidContractAddress">
    {{ "PAGES.Trade.Errors.InvalidAddress" | translate }}
  </div>
</section>

<ng-template #myBonusPopUp>
  <div class="my-bonus-pop-up">
    <div class="my-bonus-pop-up-block">
      <div class="mb-1"><b>{{ "PAGES.Trade.Labels.ShareReward" | translate }}</b></div>
      <div class="px-2">{{ +myBonusInfo?.shareReward | noexp:18 }} ETH</div>
    </div>
    <div class="my-bonus-pop-up-block">
      <div class="mb-1"><b>{{ "PAGES.Trade.Labels.RefBonus" | translate }}</b></div>
      <div class="px-2">{{ +myBonusInfo?.refBonus | noexp:18 }} ETH</div>
    </div>
    <div class="my-bonus-pop-up-block">
      <div class="mb-1"><b>{{ "PAGES.Trade.Labels.PromoBonus" | translate }}</b></div>
      <div class="px-2">{{ +myBonusInfo?.promoBonus | noexp:18 }} ETH</div>
    </div>
  </div>
</ng-template>