<!-- host: .page -->

<h1 class="page__heading">{{ "PAGES.FAQ.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.FAQ.Heading" | translate }}</h2>

  <div class="progress-linear progress-linear--tiny" *ngIf="false">
    <div class="container"></div>
  </div>

  <div class="section__content py-4">

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about1}" (click)="collapse.about.about1 = !collapse.about.about1">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.1th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about1">
          <div [innerHTML]="'PAGES.About.Sections.1th.Text' | translate"></div>

          <ul class="mt-2">
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.1th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.2th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.3th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.4th' | translate"></div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about2}" (click)="collapse.about.about2 = !collapse.about.about2">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.2th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about2">
          <div class="mt-2" [innerHTML]="'PAGES.About.Sections.2th.Text' | translate"></div>

          <ul class="mt-2">
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.1th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.2th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.3th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.1th.List.4th' | translate"></div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about3}" (click)="collapse.about.about3 = !collapse.about.about3">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.3th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about3">
          <div [innerHTML]="'PAGES.About.Sections.3th.Text' | translate"></div>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about4}" (click)="collapse.about.about4 = !collapse.about.about4">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.4th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about4">
          <div [innerHTML]="'PAGES.About.Sections.4th.Text' | translate"></div>

          <ul class="mt-2 no-list-type pl-4">
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.1th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.2th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.3th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.4th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.5th' | translate"></div></li>
            <li><div [innerHTML]="'PAGES.About.Sections.4th.List.6th' | translate"></div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about5}" (click)="collapse.about.about5 = !collapse.about.about5">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.5th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about5">
          <div>
            <div class="mb-1" [innerHTML]="'PAGES.About.Sections.5th.List1.Heading' | translate"></div>
            <div class="text-indent-4" [innerHTML]="'PAGES.About.Sections.5th.List1.Items.1th' | translate"></div>
          </div>

          <div class="mt-2">
            <div class="mb-1" [innerHTML]="'PAGES.About.Sections.5th.List2.Heading' | translate"></div>
            <ul class="no-list-type pl-4">
              <li [innerHTML]="'PAGES.About.Sections.5th.List2.Items.1th' | translate"></li>
              <li [innerHTML]="'PAGES.About.Sections.5th.List2.Items.2th' | translate"></li>
              <li [innerHTML]="'PAGES.About.Sections.5th.List2.Items.3th' | translate"></li>
              <li [innerHTML]="'PAGES.About.Sections.5th.List2.Items.4th' | translate"></li>
              <li [innerHTML]="'PAGES.About.Sections.5th.List2.Items.5th' | translate"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about6}" (click)="collapse.about.about6 = !collapse.about.about6">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.6th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about6">
          <ul class="no-list-type">
            <li [innerHTML]="'PAGES.About.Sections.6th.List.1th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.6th.List.2th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.6th.List.3th' | translate"></li>
          </ul>
          <div class="mt-2" [innerHTML]="'PAGES.About.Sections.6th.Text' | translate"></div>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about7}" (click)="collapse.about.about7 = !collapse.about.about7">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.7th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about7">
          <ul class="no-list-type m-0">
            <li [innerHTML]="'PAGES.About.Sections.7th.List1.1th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List1.2th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List1.3th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List1.4th' | translate"></li>
          </ul>
          <ul class="no-list-type pl-3">
            <li [innerHTML]="'PAGES.About.Sections.7th.List2.1th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List2.2th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List2.3th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.7th.List2.4th' | translate"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="collapse-container">
      <div class="collapse-heading" [ngClass]="{'open': !collapse.about.about8}" (click)="collapse.about.about8 = !collapse.about.about8">
        <div class="font-weight-500 lead" [innerHTML]="'PAGES.About.Sections.8th.Heading' | translate"></div>
        <div class="collapse-arrow">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#next"></use>
          </svg>
        </div>
      </div>

      <div class="collapse-content">
        <div class="card card-block card-header" [collapse]="collapse.about.about8">
          <ul class="no-list-type">
            <li [innerHTML]="'PAGES.About.Sections.8th.List.1th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.8th.List.2th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.8th.List.3th' | translate"></li>
            <li [innerHTML]="'PAGES.About.Sections.8th.List.4th' | translate"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="collapse-container" *ngFor="let a of ngForArray; index as i">
        <div class="collapse-heading" [ngClass]="{'open': !collapse.faq['faq'+i]}" (click)="collapse.faq['faq'+i] = !collapse.faq['faq'+i]">
          <div class="font-weight-500 lead" [innerHTML]="'PAGES.FAQ.Answers.'+ (i+1) +'th.Heading' | translate"></div>
          <div class="collapse-arrow">
            <svg class="icon" width="20" height="20">
              <use xlink:href="#next"></use>
            </svg>
          </div>
        </div>

        <div class="collapse-content">
          <div class="card card-block card-header" [collapse]="collapse.faq['faq'+i]">
            <div [innerHTML]="'PAGES.FAQ.Answers.'+ (i+1) +'th.Text' | translate"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>